@charset "UTF-8";

body {
    background-image: linear-gradient(90deg, #f56506, #fdcf79);
}
main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: white;
    box-shadow: 5px 5px 15px #915935c4 ;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    margin: auto;
    /*
    Medida Absoluta
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, %
    16px geralmente = 1em
    */
}
h1, h2 { font-family: 'Times New Roman', Times, serif;
text-align: center;
color: #1b0b00;
}
p {
    text-align: justify;
}
